.hamburger:hover {
  background-color: #285238 !important;
  border: 1px solid #4fba5a !important;
}

.hamburger::after{
    border: 1px #4fba5a !important;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

a:hover{
    color: #4fba5a !important;
}

ul{
  align-items: center,
}